<div class="movie-details">
  <img src="https://image.tmdb.org/t/p/w400/{{movieDetails.backdrop_path}}" alt="{{movieDetails.title}}">
  <div class="details">
    <h1>{{movieDetails.original_title}}</h1>
    <p>Popularity: {{movieDetails.popularity}}</p>
    <p>Original language: {{movieDetails.original_language}}</p>
    <p>Release: {{movieDetails.release_date}}</p>
    <p>{{movieDetails.overview}}</p>
    <p>Vote average:{{movieDetails.vote_average}}</p>
    <p>Vote count: {{movieDetails.vote_count}}</p>
  </div>

</div>
